.home {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 0 5em;
    text-align: center;
    width: 100vw;
    overflow: hidden;
}

.homeSide {
    width: 40%;
}

.tagline {
    font-size: 5rem;
    margin-bottom: .5em;
}

.description {
    color: #9f9f9f;
    font-size: 1.6rem;
}

@media all and (max-width: 900px) {
    .home {
        padding: 0 1em;
    }

    .homeSide {
        width: 95%;
    }

    .tagline {
        font-size: 4rem;
    }
}